@model Bank.Domain.AccountOpening.AccountopeningEntity
@{
    ViewData["Title"] = "ViewDoctor";
    Layout = "~/Views/Shared/dynamicLayoutManager.cshtml";
    var ResultData = ViewBag.Result as List<Bank.Domain.AccountOpening.AccountopeningEntity>;
}


<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                <li class="breadcrumb-item">Society Management</li>
                <li class="breadcrumb-item active" aria-current="page"><b> View Approved Account</b></li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            @*Search Panel*@
            <div class="search-container">
                <div class="search-sec" style="display:block;">
                    <form method="post" id="indsearch">
                       
                    </form>
                </div>
                <div class="text-center"> <a class="searchopen" title="Search" data-toggle="tooltip" data-placement="bottom"> <i class="icon-angle-arrow-down"></i> </a></div>
            </div>

            <!-- Search Panel -->
            <!--===================================================-->
            <div class="card-body ">
                @if (ResultData != null && ResultData.ToList().Count > 0)
                {
                    <div class="table-responsive">
                        <table data-toggle="table" id="tblDoctor" class="table">
                            <thead>
                                <tr>
                                    <th width="60px" class="align-top text-center">Sl#</th>

                                    <th width="350px" class="align-top">
                                        Account Type
                                    </th>
                                    <th width="350px" class="align-top">
                                        Name
                                    </th>

                                    <th width="350px" class="align-top">
                                        Sex
                                    </th>
                                    <th width="350px" class="align-top">
                                        Opening Date
                                    </th>
                                    <th width="350px" class="align-top">
                                        Account Number
                                    </th>
                                    @*<th width="150px" class="align-top">Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                }
                                @foreach (var list in ResultData)
                                {
                                    <tr>
                                        <td class="text-center">@count</td>

                                        <td>
                                            @list.HeadOfAccount
                                        </td>

                                        <td>
                                            @list.customername
                                        </td>
                                        <td>
                                            @list.Sex
                                        </td>
                                        <td>
                                            @list.OpeningDATE
                                        </td>
                                        <td>
                                            @list.Accountno
                                        </td>
                                        <!--<td>-->


                                            @*<button type="button" onclick="BindDropDown('@list.Openingdetails_id', '@list.Customer_Code')" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" aria-label="Close">View AC</button>

                                            <button type="button" onclick="ViewAccount('@list.Openingdetails_id','@list.HeadOfAccount')" class="btn btn-danger btn-sm No hbtn" data-dismiss="modal" aria-label="Close">View AC</button>*@

                                        <!--</td>-->
                                    </tr>

                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="norecord"> No Record Found</div>
                }
                <div class="clearfix col-sm-12"></div>
            </div>
         

<script>
    $(document).ready(function () {
        getDataTable();
    })
    //Pagination
    function getDataTable() {
        $('#tblDoctor').DataTable({
            "searching": true,
            //"bStateSave": true,
            "dom": 'Bfrtip',
            "autoWidth": false,
            "buttons": [
                //{
                //    extend: 'print',
                //    title: 'Manage Block',
                //    exportOptions: {
                //        columns: [0, 1, 2, 3, 4]
                //    },
                //    customize: function (win) { $(win.document.body).css('font-size', '10pt').prepend('<img src="' + origin + '/images/t5-logo-white.png"  style="position:absolute; top:0; left:0;" />'); $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit'); }

                //}
                ,
                {
                    extend: 'pageLength'
                }
            ],
            "lengthMenu": [
                [10, 25, 50, 100, 1000 - 1],
                ['10 rows', '25 rows', '50 rows', '100 rows', '1000 rows', 'Show all']
            ]
        });
    }
</script>

