@model Bank.Domain.Customer.CustmerEntity.Report
@{
    ViewData["Title"] = "ViewDoctor";
    Layout = "~/Views/Shared/dynamicLayoutManager.cshtml";
    var ResultData = ViewBag.Result as List<Bank.Domain.Customer.CustmerEntity.Report>;
}
<style>
    .icon {
        padding-left: 020px;
        background: url("https://png.pngtree.com/png-vector/20191011/ourmid/pngtree-printer-icon-png-image_1817556.jpg") no-repeat left;
        background-size: 30px;
    }
</style>
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                <li class="breadcrumb-item">Society Management</li>
                <li class="breadcrumb-item active" aria-current="page"><b>View Transaction By Account Number</b></li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">

            </div>
            <!-- Search Panel-->


            <div class="search-container">
                <div class="search-sec" style="display: block;">
                    <form method="post" id="indsearch">
                        <div class="form-group form-row">
                            <div class="col-12 col-md-6 col-xl-2">
                                <label class="control-label">Enter Account Number</label>
                                <input id="Dname" type="number" class="form-control" asp-for="NewAccountNo" />
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <label class="control-label" id="fromdateL">From Date<span class="text-danger">*</span></label>
                                <input type="date" id="fromdate" class="form-control" asp-for="From_Date" />
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <label class="control-label" id="todateL">To Date<span class="text-danger">*</span></label>
                                <input type="date" id="todate" class="form-control" asp-for="To_Date" />
                            </div>

                            <div class="col-lg-2 ">
                                <button id="btnSearch" class="btn btn-primary mt-xl-4 mt-2"> <i class="fa fa-search"></i> Search</button>
                            </div>
                            <div class="col-lg-2 ">
                                <input type="button" id="print" onclick="Print()" class="icon btn btn-default mt-xl-4 mt-2" style="margin-left:-60px" value="" placeholder="Search">


                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center"> <a class="searchopen" title="Search" data-toggle="tooltip" data-placement="bottom"> <i class="icon-angle-arrow-down"></i> </a></div>
            </div>
            <b style="margin-left:25px;">Closing Balance : <span id="main"></span></b>
            <!-- Search Panel -->
            <!--===================================================-->
            <div class="card-body ">
                @if (ResultData != null && ResultData.ToList().Count > 0)
                {
                    <div class="table-responsive" id="divv">
                        <table data-toggle="table" id="tblDoctor" class="table" border="1" style="border-block-end-color:forestgreen;border-block-end-style:dotted;border-block-start-style:groove">
                            <thead>
                                <tr>
                                    <th width="60px" class="align-top text-center">Sl#</th>

                                    <th width="150px" class="align-top">
                                        Date
                                    </th>
                                    <th width="150px" class="align-top">
                                        Account Holder Name
                                    </th>

                                    <th width="150px" class="align-top">
                                        Credit
                                    </th>
                                    <th width="150px" class="align-top">
                                        Debit
                                    </th>
                                    <th width="150px" class="align-top">
                                        Closing Balance
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                }
                                @foreach (var list in ResultData)
                                {
                                    <tr>
                                        <td class="text-center">@count</td>
                                        <td>
                                            @list.ApproveDate
                                        </td>
                                        <td>
                                            @list.Name
                                        </td>
                                        @if (@list.Status.Trim() == "CR")
                                        {
                                            <td>
                                                @list.Amount
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                            </td>
                                        }
                                        @if (@list.Status.Trim() == "DR")
                                        {
                                            <td>
                                                @list.Amount
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                            </td>
                                        }
                                        <td>
                                            <span id="@count">@list.Balance</span>
                                        </td>

                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="norecord"> No Record Found</div>
                }
                <div class="clearfix col-sm-12"></div>
            </div>

            <!--===================================================-->
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function Print() {

        var divContents = document.getElementById("divv").innerHTML;
        var a = window.open('', '', 'height=1500, width=1500');
        a.document.write('<html>');
        a.document.write('<body > <center><h1>Mini Statement</center><br>');
        a.document.write(divContents);
        a.document.write('</body></html>');
        a.document.close();
        a.print();

    }
    $(document).ready(function () {
        getDataTable();
        $("#main").text($('#1').text());
    })




    //Pagination
    function getDataTable() {
        $('#tblDoctor').DataTable({
            "searching": true,
            //"bStateSave": true,
            "dom": 'Bfrtip',
            "autoWidth": false,
            "buttons": [
                //{
                //    extend: 'print',
                //    title: 'Manage Block',
                //    exportOptions: {
                //        columns: [0, 1, 2, 3, 4]
                //    },
                //    customize: function (win) { $(win.document.body).css('font-size', '10pt').prepend('<img src="' + origin + '/images/t5-logo-white.png"  style="position:absolute; top:0; left:0;" />'); $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit'); }

                //}
                ,
                {
                    extend: 'pageLength'
                }
            ],
            "lengthMenu": [
                [10, 25, 50, 100, 1000 - 1],
                ['10 rows', '25 rows', '50 rows', '100 rows', '1000 rows', 'Show all']
            ]
        });
    }

   
 


</script>

