@model Bank.Domain.Role.RoleEntity
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    //ViewData["Title"] = "RoleView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/bootbox.js"></script>
</head>
@if (ViewBag.msg != null)
{
    <script>
    @*if ("@ViewBag.msg" == "Role already exists!") {
        window.location.href = "../Role_Master/RoleView";
    }*@
/*    window.location.reload();*/

      alert("@ViewBag.msg" );
        window.location.href = "../Role_Master/Roleinsert";
    </script>
}
else
{

}

<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><span class="icon-home1"></span></li>
                <li class="breadcrumb-item">Society Management</li>
                <li class="breadcrumb-item active" aria-current="page"><b>Role Master</b></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <a class="nav-item nav-link active" asp-controller="Role_Master" asp-action="Roleinsert" data-toggle="tooltip" id="SchemeExcalAdd">

                            Add
                        </a>
                        <a class="nav-item nav-link" data-toggle="tooltip" asp-controller="Role_Master" asp-action="roleDetailsView" id="SchemeExcalView">

                            View
                        </a>

                    </ul>
                    <div class="indicatorslist">
                        <p class="text-danger">(*) Indicates mandatory </p>
                    </div>

                </div>
                <div class="card-body">
                    <form id="frmCreateREesignation" onsubmit="return validate();" method="post" asp-controller="Role_Master" asp-action="Roleinsert">

                        <div class="row">

                            <div class="col-md-4">
                                <label class="badge-light">Role Name<span class="text-danger">*</span></label>
                                @if (@ViewBag.Rolename == null)
                                {
                                    <input type="text" id="Rname" asp-for="ROLE_NAME" placeholder="Please Enter Role name..">
                                }
                                else
                                {
                                    <input type="text" id="Rname" asp-for="ROLE_NAME" value="@ViewBag.Rolename">
                                }
                            </div>
                        </div>
                        <div class="row" id="che">

                            <div class="col-md-4">
                                <input type="checkbox" asp-for="ALLOW_GL" id="Check1" readonly="readonly">
                                <span>Access to General Ledger</span>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check2" asp-for="ALLOW_CC" readonly="readonly">
                                <span>New Customer Creation</span>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check3" asp-for="ALLOW_EC" readonly="readonly">
                                <span>Editing Customer Creation</span>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check4" asp-for="ALLOW_AC" readonly="readonly">
                                <span>Authority to approve customers created by others</span>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check5" asp-for="ALLOW_SPCL" readonly="readonly">
                                <span>Special Instruction Posting</span>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check6" asp-for="ALLOW_NEW_DEPO" readonly="readonly">
                                <span>Creation of new Deposit A/Cs</span>
                            </div>

                            <div class="col-md-4">
                                <input type="checkbox" id="Check7" asp-for="ALLOW_NEW_LOAN" readonly="readonly">
                                <span>Creation of new Loan A/Cs</span>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check8" asp-for="ALLOW_INT_PARA" readonly="readonly">
                                <span>Access to Interest Parameters</span>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check9" asp-for="ALLOW_VCH" readonly="readonly">
                                <span>Voucher Entry</span>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check10" asp-for="ALLOW_DISBURSE" readonly="readonly">
                                <span>Disbursement Entry</span>

                            </div>

                            <div class="col-md-4">
                                <input type="checkbox" id="Check11" asp-for="ALLOW_LN_REPAY" readonly="readonly">
                                <span>Loan Repayment Entry</span>
                            </div>

                            <div class="col-md-4">
                                <input type="checkbox" id="Checke12" asp-for="ALLOW_VCH_AP" readonly="readonly">
                                <span>Voucher Approval</span>
                            </div>

                            <div class="col-md-4">
                                <input type="checkbox" id=" Check13" asp-for="ALLOW_DEPO_AP" readonly="readonly">
                                <span>Deposit A/C Approval</span><br>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check14" asp-for="ALLOW_LN_AP" readonly="readonly">
                                <span>Loan Approval</span><br>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check15" asp-for="ALLOW_CR_USR" readonly="readonly">
                                <span>Creation of New Users</span><br>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check16" asp-for="ALLOW_BNK_INFO" readonly="readonly">
                                <span>User to Change Bank Information</span><br>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check17" asp-for="ALLOW_RENEW_EXP" readonly="readonly">
                                <span>User to Renew Other expired users</span><br>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" id="Check18" asp-for="ALLOW_VCH_EDIT" readonly="readonly">
                                <span>Editing of Vouchers</span><br>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4">
                                <input type="submit" value="@ViewBag.Button" id="btnsave">
                                <input type="reset" class="button" value="reset">
                            </div>
                        </div>
                        <input type="hidden" id="hdnTxtFName" name="ROLE_ID" value="@ViewBag.Id" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>







<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

    input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }



    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    input[type=reset] {
        background-color: orangered;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>

<script>

    function validate() {
        var Firstname = document.getElementById("Rname").value;

        var listItems = document.getElementById("che").getElementsByTagName("input");
        var itemcount = listItems.length;
        var iCount = 0;
        var isItemSelected = false;
        for (iCount = 0; iCount < itemcount; iCount++) {
            if (listItems[iCount].checked) {
                isItemSelected = true;
                break;
            }
        }
        if (Firstname == "") {
            bootbox.alert("Please enter Role name!")
            return false;
        }
        else
            if (!isItemSelected) {
                bootbox.alert("Please select one Item.");
                return false;
            }
            else {
                return true;
            }

      
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#che").click(function () {
            if ($('input[type=checkbox]:checked').length < 1) {
                //give error message
                return false;
            }
            //this code will get executed if atleast 3 checkboxes are checked
        });
    });
</script>
